.Curriculo {
  text-align: center;
  
}

.Curriculo li{
  list-style-type: none;
}

.bola {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid #000000;
  background-color: black;
}

.academica p{
  display: inline-block;
 
}

.formacao {
  text-align: center;
}

fieldset{
  border: 30px solid red;
 background:orange;
}