.Curriculo {
  text-align: center;
}

.Curriculo li{
  list-style-type: none;
  margin-bottom: 10px;
}

.bola {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid #000000;
  background-color: black;
}

.academica p{
  display: inline-block;
 
}

.formacao {
  text-align: center;

}

body{
  background-color: rgb(226, 198, 198);
}

.Curriculo a{
  text-decoration: none;
  color: black;
}